@model Gestion_Empleados.Models.Jornada

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Jornada</h1>

<h4>Jornada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JornadaId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="HoraFin" class="control-label"></label>
                <input asp-for="HoraFin" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
